.header-container {
	display: flex;
	align-items: center;
	background-color: #7b0808;
	color: #fff;
	padding: 4px;
	justify-content: space-between;
	height: auto;
}
img {
	border-radius: 25px;
	height: 55px;
	width: 55px;
	margin: 5px 0 0 15px;
}
.header-container ul {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 3px;
}
.header-container ul li {
	background-color: #ffffff;
	margin: 10px 15px 0 0;
	border-radius: 15px;
	padding: 5px;
	list-style-type: none;
}
h1 {
	margin-left: 10px;
}
